@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Urbanist font */
@font-face {
  font-family: 'Urbanist';
  src: url('/fonts/urbanist-reg.ttf') format('truetype'); /* Replace with your font file name */
  font-weight: 400;
}

@font-face {
  font-family: 'Urbanist';
  src: url('/fonts/urbanist-reg.ttf') format('truetype'); /* Replace with your font file name */
  font-weight: 700;

  
}

body {
  font-family: 'Urbanist', Arial, sans-serif;
}

.my-button {

  background-color: #009fd5; /* Your desired background color */
  color: white; /* Your desired text color */
  border: none; /* Remove default button border */
  font-size: 16px; /* Adjust font size as needed */
  padding: 30px;
  font-weight: bold; /* Adjust font weight as needed */
  border-radius: 10px; /* Adjust border radius as needed */
  cursor: pointer; /* Change cursor to pointer on hover */
}

.my-border-radius {
  border: none; /* Remove default button border */
  border-radius: 50px 50px 50px 50px; /* Adjust border radius as needed */
}

.border-radius {
  border-radius: 10%; /* Make button a circle */
}

.my-button:hover {
  background-color: #007acc; /* Change background color on hover */
  color: #009fd5;
}

.my-button-nbg {
  background-color: transparent;
  border: none; 
  font-size: 18px; 
  padding: 30px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

.my-button-nbg:hover {
  color: #009fd5;
}

.subscribe-button {
  background-color: #009fd5; /* Your desired background color */
  color: white; /* Your desired text color */
  border: none; /* Remove default button border */
  padding: 10px 20px; /* Adjust padding as needed */
  font-size: 16px; /* Adjust font size as needed */
  font-weight: bold; /* Adjust font weight as needed */
  border-radius: 10px; /* Adjust border radius as needed */
  cursor: pointer; /* Change cursor to pointer on hover */
}

.subscribe-button:hover {
  background-color: #007acc; /* Change background color on hover */
}


.my-auth-button {

  background-color: #1B354F; /* Your desired background color */
  color: white; /* Your desired text color */
  border: none; /* Remove default button border */
  font-size: 16px; /* Adjust font size as needed */
  padding: 30px;
  font-weight: bold; /* Adjust font weight as needed */
  border-radius: 10px; /* Adjust border radius as needed */
  cursor: pointer; /* Change cursor to pointer on hover */
}

.my-border-radius {
  border: none; /* Remove default button border */
  border-radius: 10px; /* Adjust border radius as needed */
}

.my-border-radius-input {
  border-color: #afadad;
  border-width: 2px;
  border-radius: 10px; /* Adjust border radius as needed */
}

.my-border-radius-input-login {
  border-color: transparent;
  border-width: 2px;
  border-radius: 10px; /* Adjust border radius as needed */
}
.my-border-radius-input-error {
  border-color: #ff0000;
  border-width: 2px;
  border-radius: 10px; /* Adjust border radius as needed */
}

.my-auth-button:hover {
  background-color: #1B354F; /* Change background color on hover */
  color: #1B354F;
}


/* Target the number input directly */
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}


.centered-element {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.justified-element {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.criterion-1 {
  background-color: #1782ee;
}
.criterion-2 {
  background-color: #de1878;
}
.criterion-3 {
  background-color: #2bb84f;
}
